/** footer **/
.footer {
  position: absolute;
  padding: 1rem 4.1rem;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 9;
  background-color: #ffffff;
  border-top: 1px solid #ededed;
  p{
    margin: 0;
  }
}
